# Mockoon Data
/mockoon/data/

# 파이썬에 의해 생성되는 swagger spec 파일
swagger.json 

# MacOS General
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db